body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #0E0B16;
}

.container-fluid {
    padding: 20px;
}

.noGames {
    color: rgba(255, 255, 255, 1);
    padding: 20px;
    text-align: center;
}

.connectButton {
    color: rgba(255, 255, 255, 1);
}

.min-height {
    min-height: 77vh;
}

.splashScreen {
    padding-top: 33vh;
    padding-bottom: 33vh;
    width: 100%;
    text-align: center;
    color: #E7DFDD;
}